name = "onedrive-cf-index-ng"
main = "worker.js"
compatibility_date = "2025-12-12"
compatibility_flags = ["nodejs_compat"]

[vars]
# 前端和後端都需要
NEXT_PUBLIC_CLIENT_ID = "f20fcec1-00d0-4811-b5a0-7260dffe1728"
NEXT_PUBLIC_CLIENT_SECRET = "Ns18Q~e7b.D4E00pX5oZGSYi71D0epY.kfRlEbha"
NEXT_PUBLIC_USER_PRINCIPAL_NAME = "nspool@vvwls.onmicrosoft.com"
NEXT_PUBLIC_BASE_DIRECTORY = "/"

# 後端 Functions 處理 Step 3/3 UPN 檢查時可能需要
USER_PRINCIPAL_NAME = "nspool@vvwls.onmicrosoft.com"
