name = "onedrive-cf-index-ng"
main = "worker.js"
compatibility_date = "2025-12-12"
compatibility_flags = ["nodejs_compat"]

[vars]
NEXT_PUBLIC_CLIENT_ID = "f20fcec1-00d0-4811-b5a0-7260dffe1728"
NEXT_PUBLIC_CLIENT_SECRET = "Ns18Q~e7b.D4E00pX5oZGSYi71D0epY.kfRlEbha"

# 請將這兩行都設定
NEXT_PUBLIC_USER_PRINCIPAL_NAME = "nspool@vvwls.onmicrosoft.com"
USER_PRINCIPAL_NAME = "nspool@vvwls.onmicrosoft.com" # <--- 新增這一行

NEXT_PUBLIC_BASE_DIRECTORY = "/"
